.container {
  background-color: #a6d78c;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;

  -webkit-box-shadow: 4px 0px 8px -3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 4px 0px 8px -3px rgba(50, 50, 50, 0.75);
  box-shadow: 4px 0px 8px -3px rgba(50, 50, 50, 0.75);
}
.items {
  display: flex;
  flex-direction: row;
  max-height: 30px;
  max-width: 30px;
  padding: 5px;
  background-color: sandybrown;
  border-bottom: 5px solid;
  border-bottom-color: lightyellow;
  border-bottom-width: thin;
  a {
    visibility: collapse;
    padding: 10px;
    font-size: small;
  }
  img {
    width: 30px;
    height: 30px;
    //padding: 5px;
  }
}

.open_items {
  display: flex;
  flex-direction: row;
  max-height: 30px;
  padding: 5px;
  background-color: red;
  border-bottom: 5px solid;
  border-bottom-color: lightyellow;
  border-bottom-width: thin;
  a {
    visibility: visible;
    padding: 10px;
    font-size: small;
  }
  img {
    width: 20px;
    height: 20px;
    padding: 5px;
  }
}
.open {
  width: 250px;
  display: flex;
  flex-direction: column;
}
.close {
  width: 40px;
  display: flex;
  flex-direction: column;
}
