.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  padding: 10px;

  & > div {
    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }

  .printer_list {
    flex: 1;
  }
  .printer_info {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100%;
  }
}
