.container {
  display: flex;
  flex-direction: row;
  flex: 1;

  & > div {
    &:not(:first-child) {
      margin-left: 24px;
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }

  .printer_list {
    flex: 1;
  }
  .printer_info {
    flex: 3;
  }
}
