.contacts {
  display: grid;
  grid-template-columns: 33% 33% 34%;

}
.svg{
  fill: #ffe7f8;
  padding: 5px;
  height: 150px;
  width: 150px;
  justify-content: center;
}
.contacts-button {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.contacts-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}
